body {
  margin: 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 100%;
}
#nav {
  background: #ffcb2d;
  margin: 0;
  padding: 10px 0 0 46px;
  list-style: none;
  float: left;
  width: 100%;
  background: linear-gradient(to bottom, #ffcb2d 0%, #ffcb2d 96%, #9b8748 100%);
}
li {
  float: left;
}
a {
  text-decoration: none;
  color: #333;
  padding: 4px 8px;
  border: 1px solid #9b8748;
  margin: 0 6px 0 0;
  border-bottom: none;
  float: left;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 236, 165, 1) 0%,
    rgba(232, 213, 149, 1) 6%,
    rgba(253, 233, 162, 1) 94%,
    rgba(253, 233, 162, 1) 100%
  );
}
a:hover,
#p-cuisines .t-cuisines a,
#p-chefs .t-chefs a,
#p-reviews .t-reviews a,
#p-delivery .t-delivery a {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 226, 240, 1) 6%,
    rgba(254, 254, 254, 1) 53%
  );
  padding-bottom: 5px;
}

a:hover,
.active a {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 226, 240, 1) 6%,
    rgba(254, 254, 254, 1) 53%
  );
  padding-bottom: 5px;
}
