<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fragments</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body id="top">
    <nav>
      <ul id="nav">
        <li><a class="active" href="#01">Cuisines</a></li>
        <li><a href="#02">Chefs</a></li>
        <li><a href="#03">Reviews</a></li>
        <li><a href="#04">Delivery</a></li>
      </ul>
    </nav>
    <div id="01">
      <h1>Cuisines</h1>
      <p>
        Non ex proident Lorem ad cillum culpa consectetur enim cupidatat. Sit do
        minim nulla dolor tempor duis labore fugiat ipsum eiusmod non ullamco.
        Et velit enim cillum sint consequat non deserunt consectetur esse
        adipisicing veniam pariatur ea. Ea ex eu ipsum eu sint magna deserunt
        mollit incididunt elit. Nulla dolor cillum aliqua fugiat sint velit qui
        ipsum occaecat id cupidatat Lorem nulla. Officia do laborum velit culpa
        laborum officia ad pariatur.
      </p>
    </div>
    <div id="02">
      <h1>Chefs</h1>
      <p>
        Non ex proident Lorem ad cillum culpa consectetur enim cupidatat. Sit do
        minim nulla dolor tempor duis labore fugiat ipsum eiusmod non ullamco.
        Et velit enim cillum sint consequat non deserunt consectetur esse
        adipisicing veniam pariatur ea. Ea ex eu ipsum eu sint magna deserunt
        mollit incididunt elit. Nulla dolor cillum aliqua fugiat sint velit qui
        ipsum occaecat id cupidatat Lorem nulla. Officia do laborum velit culpa
        laborum officia ad pariatur.
      </p>
    </div>
    <div id="03">
      <h1>Reviews</h1>
      <p>
        Non ex proident Lorem ad cillum culpa consectetur enim cupidatat. Sit do
        minim nulla dolor tempor duis labore fugiat ipsum eiusmod non ullamco.
        Et velit enim cillum sint consequat non deserunt consectetur esse
        adipisicing veniam pariatur ea. Ea ex eu ipsum eu sint magna deserunt
        mollit incididunt elit. Nulla dolor cillum aliqua fugiat sint velit qui
        ipsum occaecat id cupidatat Lorem nulla. Officia do laborum velit culpa
        laborum officia ad pariatur.
      </p>
    </div>
    <div id="04">
      <h1>Delivery</h1>
      <p>
        Non ex proident Lorem ad cillum culpa consectetur enim cupidatat. Sit do
        minim nulla dolor tempor duis labore fugiat ipsum eiusmod non ullamco.
        Et velit enim cillum sint consequat non deserunt consectetur esse
        adipisicing veniam pariatur ea. Ea ex eu ipsum eu sint magna deserunt
        mollit incididunt elit. Nulla dolor cillum aliqua fugiat sint velit qui
        ipsum occaecat id cupidatat Lorem nulla. Officia do laborum velit culpa
        laborum officia ad pariatur.
      </p>

      <a href="#top">Back to top</a>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>
