body {
  margin:0;
  font-family:"Lucida Grande", sans-serif;
  font-size:100%;
  padding-bottom: 42rem;
}
#nav {
  display: flex;
  background:#ffcb2d;
  margin:0; 
  padding:10px 0 0 46px;
  list-style:none;
  background: linear-gradient(to bottom, #ffcb2d 0%,#ffcb2d 96%,#9b8748 100%);
  position: fixed;
  top: 0;
  width: 100%;
}
#nav li {
  display: flex;
}
#nav li a {
  text-decoration:none;
  color:#333;
  padding: 4px 8px;
  border: 1px solid #9b8748;
  margin: 0 6px 0 0;
  background-image: linear-gradient(to bottom, rgba(255,236,165,1) 0%,rgba(232,213,149,1) 6%,rgba(253,233,162,1) 94%,rgba(253,233,162,1) 100%);
  transition: all 0.25s linear;
}
#nav li a.active {
  background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(224,226,240,1) 6%,rgba(254,254,254,1) 53%);
  border-bottom: none;
  padding-right: 6rem;
}

#nav li a:hover {
  background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(224,226,240,1) 6%,rgba(254,254,254,1) 53%);
  border-bottom: none;
}